body{
    font-family: 'Balsamiq Sans', cursive;
}
section{
    height: 500px;
    padding-left: 100px;
}
h1{
    font-size: 50px;
}
p{
    color: darkolivegreen;
}
footer{
    text-align: center;
}
.nav-menu{
    float: right;
}
.nav-menu li{
    list-style: none;
    float: left;
    margin: 20px;
}
.nav-area{
    width: 100%;
    float: right;
    margin:10px;
    /* border: 1px solid red; */
}
.orange-highlight{
    color: orangered;
}
.half-width{
    width: 40%;
    padding-left: 2%;
    margin-left: 3%;
    float: left;
}
.half-width img{
    width: 60%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(180deg,rgb(245, 55, 21),grey);
    padding: 10px;
    border-radius: 4px;
    color:#bad6d2;
}
/* Styling Education Section */
.education{
    background-position: left;
    padding-left:40px;
    border: 1px solid red;
    width: 90%;
    /* box-shadow: 10px 20px rgba(173, 223, 159, 0.822); */
    border-image: linear-gradient(180deg,blue,cyan);
}
.institute{
    border-left: 1px solid green;
    margin-left: 70px;
    padding-left:15px;

    border-left: 7px solid;
    border-image: linear-gradient(180deg,rgb(175, 255, 122),tomato);
    border-image-slice: 1;

    box-shadow: 10px 20px rgba(173, 223, 159, 0.822);
}
/* Project Area */
.projects{
    background-color: #aeb2b642;
    padding: 10px;
    height: 600px;
}
.one-third-width{
    width: 25%;
    padding: 2%;
    margin-left: 2%;
    float: left;
}
.single-projects{
    background-color: rgb(245, 227, 227);
    border-radius: 10px;
    height: 50%;
}
.single-projects img{
    width: 100%;
}
.projects h2{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding:20px;
}
/* Contact Area */
.chat{
    color: white;
    padding:20px;
    background-image: url("../images/chat-bg.png");
    background-repeat: repeat;
    height: 80%;
    width: 80%;
    margin: 60px 20px 20px 80px;
    text-align: center;

}
.chat h2{
    font-size: 50px;
    display: inline;
    padding: 50px;
    margin: 20px;   
}
#email a{
    text-decoration: none;
    font-weight: 440;
    font-size: 30px;
    font-family: cursive;
    text-align: center;

}
.contact{
    text-align: center;
}

.social li{
    list-style: none;
    display: inline;
    font-size:48px;
}